<div class="container intro-container">
  <style>
    .resume_button {
      background-color: #008CBA; font-size: 20px; text-align:center; width: 150px; height: 50px;
      margin: 0; position: absolute; left: 50%;-ms-transform: translateX(-50%);transform: translateX(-50%);
    } 
  </style>
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
      {%- if site.about_resume_link -%}
        
        <form action = "{{site.about_resume_link}}" target = "_blank">
           <button class="resume_button"  type="submit">Resume</button>
        </form>
      {%- endif -%}
    </div>
  </div>
</div>
