<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
      {%- if site.about_resume_link -%}
        <form action = "{{site.about_resume_link}}" target = "_blank">
           <button style="font-size : 20px; text-align:center; width: 100px; height: 50px;margin: 5px 350px" type="submit">Resume</button>
        </form>
      {%- endif -%}
    </div>
  </div>
</div>
